In [2]:
import streamlit as st
import numpy as np
import plotly.graph_objects as go
import pandas as pd

In [5]:
df = pd.read_csv("Export_TER_juin2023_FIX_SafwanChendeb.csv",sep=";")
print(df.info)

<bound method DataFrame.info of          N° ENREG Code CAF  ASS_FRQ_KHZ  ASS_LGBD_KHZ  TER_ANT_AZM_MAX  \
0       1028247.0        K     38577000       14000.0             90.0
1       1033878.0        K     19376875       13700.0            204.5
2       1428858.0        K     26145000       56000.0            320.7
3       1502495.0        K      6920000       40000.0            307.4
4        339609.0        K     38552500        7000.0            319.9
...           ...      ...          ...           ...              ...
823645  1419579.0        K     22128750       28000.0            195.1
823646   124559.0        J         3398           0.0              NaN
823647  1111112.0        K     23241750       14000.0            182.8
823648  1508178.0        K     26173000      112000.0            156.6
823649  1276551.0        K     38570000       56000.0            168.4

        TER_ANT_ANG  PT_LONG_DEG  PT_LONG_MIN  PT_LONG_SEC PT_LONG_ORIENT  \
0               1.7            2           20           59              E
1               1.9            1           14           59              E
2               2.6            7            3            5              E
3               3.0            6           36           33              E
4               1.7            5           28           44              E
...             ...          ...          ...          ...            ...
823645          1.6            1           25           10              E
823646          NaN            1           15           30              E
823647          2.8            4           44           24              E
823648          1.5            8           46            7              E
823649          1.7            2           28           17              E

        PT_LAT_DEG  PT_LAT_MIN  PT_LAT_SEC PT_LAT_ORIENT    Date CAF BASE  \
0               48          53          40             N  01/03/2013    H
1               43          16          11             N  18/09/2013    H
2               43          37           2             N  18/05/2017    H
3               47          38          35             N  11/04/2019    R
4               43          29          38             N  10/05/2005    H
...            ...         ...         ...           ...         ...  ...
823645          48          21          31             N  27/10/2022    R
823646          45          50           0             N  02/07/1979    R
823647          44          24          54             N  15/06/2011    H
823648          41          46           4             N  13/06/2019    H
823649          48          43          33             N  29/11/2018    R

       MVT_CODE
0           MOD
1           MOD
2           ADD
3           ADD
4           MOD
...         ...
823645      SUP
823646      ADD
823647      ADD
823648      ADD
823649      SUP

[823650 rows x 17 columns]>

In [12]:
df.isnull().sum()

N° ENREG             105
Code CAF               0
ASS_FRQ_KHZ            0
ASS_LGBD_KHZ        1470
TER_ANT_AZM_MAX    23791
TER_ANT_ANG        23788
PT_LONG_DEG            0
PT_LONG_MIN            0
PT_LONG_SEC            0
PT_LONG_ORIENT         0
PT_LAT_DEG             0
PT_LAT_MIN             0
PT_LAT_SEC             0
PT_LAT_ORIENT          0
BASE                   0
MVT_CODE               0
jour                   0
mois                   0
année                  0
dtype: int64

In [9]:
df[['jour', 'mois', 'année']] = df['Date CAF'].str.split('/', expand=True)

In [11]:
df = df.drop(columns=['Date CAF'])