In [2]:
import streamlit as st
import numpy as np
import plotly.graph_objects as go
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("Export_TER_juin2023_FIX_SafwanChendeb.csv",sep=";")
print(df.info)

<bound method DataFrame.info of          N° ENREG Code CAF  ASS_FRQ_KHZ  ASS_LGBD_KHZ  TER_ANT_AZM_MAX  \
0       1028247.0        K     38577000       14000.0             90.0
1       1033878.0        K     19376875       13700.0            204.5
2       1428858.0        K     26145000       56000.0            320.7
3       1502495.0        K      6920000       40000.0            307.4
4        339609.0        K     38552500        7000.0            319.9
...           ...      ...          ...           ...              ...
823645  1419579.0        K     22128750       28000.0            195.1
823646   124559.0        J         3398           0.0              NaN
823647  1111112.0        K     23241750       14000.0            182.8
823648  1508178.0        K     26173000      112000.0            156.6
823649  1276551.0        K     38570000       56000.0            168.4

        TER_ANT_ANG  PT_LONG_DEG  PT_LONG_MIN  PT_LONG_SEC PT_LONG_ORIENT  \
0               1.7            2           20           59              E
1               1.9            1           14           59              E
2               2.6            7            3            5              E
3               3.0            6           36           33              E
4               1.7            5           28           44              E
...             ...          ...          ...          ...            ...
823645          1.6            1           25           10              E
823646          NaN            1           15           30              E
823647          2.8            4           44           24              E
823648          1.5            8           46            7              E
823649          1.7            2           28           17              E

        PT_LAT_DEG  PT_LAT_MIN  PT_LAT_SEC PT_LAT_ORIENT    Date CAF BASE  \
0               48          53          40             N  01/03/2013    H
1               43          16          11             N  18/09/2013    H
2               43          37           2             N  18/05/2017    H
3               47          38          35             N  11/04/2019    R
4               43          29          38             N  10/05/2005    H
...            ...         ...         ...           ...         ...  ...
823645          48          21          31             N  27/10/2022    R
823646          45          50           0             N  02/07/1979    R
823647          44          24          54             N  15/06/2011    H
823648          41          46           4             N  13/06/2019    H
823649          48          43          33             N  29/11/2018    R

       MVT_CODE
0           MOD
1           MOD
2           ADD
3           ADD
4           MOD
...         ...
823645      SUP
823646      ADD
823647      ADD
823648      ADD
823649      SUP

[823650 rows x 17 columns]>

In [5]:
df.isnull().sum()

N° ENREG             105
Code CAF               0
ASS_FRQ_KHZ            0
ASS_LGBD_KHZ        1470
TER_ANT_AZM_MAX    23791
TER_ANT_ANG        23788
PT_LONG_DEG            0
PT_LONG_MIN            0
PT_LONG_SEC            0
PT_LONG_ORIENT         0
PT_LAT_DEG             0
PT_LAT_MIN             0
PT_LAT_SEC             0
PT_LAT_ORIENT          0
Date CAF               0
BASE                   0
MVT_CODE               0
dtype: int64

DATA CLEAN

In [13]:
df2 = df.dropna(subset=['ASS_LGBD_KHZ'])

In [14]:
enreg_to_supp = df2[df2['MVT_CODE'] == 'SUP']['N° ENREG']
df2 = df2[~df2['N° ENREG'].isin(enreg_to_supp)]

In [15]:
df2['Date CAF'] = pd.to_datetime(df['Date CAF'], format='%d/%m/%Y')

In [16]:
df2 = df2.sort_values('Date CAF').drop_duplicates(subset = "N° ENREG", keep = 'last')
df2 = df2[df2["ASS_LGBD_KHZ"] >1000]

In [17]:
df2.head(20)

,N° ENREG,Code CAF,ASS_FRQ_KHZ,ASS_LGBD_KHZ,TER_ANT_AZM_MAX,TER_ANT_ANG,PT_LONG_DEG,PT_LONG_MIN,PT_LONG_SEC,PT_LONG_ORIENT,PT_LAT_DEG,PT_LAT_MIN,PT_LAT_SEC,PT_LAT_ORIENT,Date CAF,BASE,MVT_CODE
686312,107525.0,G,7512000,20000.0,23.1,1.0,1,55,53,E,48,54,32,N,1972-11-12,R,MOD
278626,107537.0,G,7673000,20000.0,5.1,1.0,1,14,4,E,48,32,11,N,1972-11-12,R,MOD
274416,107535.0,G,7645000,20000.0,17.0,2.0,0,42,7,E,47,36,16,N,1972-12-01,R,MOD
277188,107522.0,G,7484000,20000.0,1.4,2.0,2,6,2,E,45,40,25,N,1972-12-01,R,MOD
27042,107534.0,G,7645000,20000.0,19.4,2.0,2,8,28,E,45,44,54,N,1972-12-01,R,MOD
294574,107523.0,G,7484000,20000.0,35.0,2.0,0,47,9,E,47,20,2,N,1972-12-01,R,MOD
772945,101647.0,T,2227500,22000.0,127.0,6.0,70,15,33,E,49,21,6,S,1974-03-21,R,MOD
416471,101648.0,T,2108500,22000.0,307.0,6.0,70,25,43,E,49,26,5,S,1974-03-21,R,MOD
31203,104552.0,M,7547000,26000.0,265.0,2.0,4,14,19,W,48,25,34,N,1975-03-16,R,ADD
303591,102010.0,M,7491000,26000.0,304.0,2.0,4,2,33,W,48,20,3,N,1975-03-16,R,ADD
292240,102009.0,M,7652000,26000.0,124.0,2.0,4,14,19,W,48,25,34,N,1975-03-16,R,ADD
309616,104551.0,M,7708000,26000.0,85.0,2.0,4,29,41,W,48,22,58,N,1975-03-16,R,ADD
822722,104553.0,M,7687000,26000.0,288.0,2.0,4,2,33,W,48,20,3,N,1975-03-16,R,ADD
201213,104554.0,M,7526000,26000.0,108.0,2.0,4,18,0,W,48,24,10,N,1975-03-16,R,ADD
680187,109352.0,H,7310000,14200.0,321.1,0.5,0,6,54,E,49,28,30,N,1976-06-25,R,MOD
18609,114602.0,G,2045500,3000.0,5.3,5.0,5,36,0,E,43,25,0,N,1977-08-19,R,MOD
515444,117515.0,T,7477000,35000.0,247.0,1.0,149,26,9,W,17,31,2,S,1978-03-10,R,MOD
515442,117523.0,T,7589000,35000.0,91.0,1.0,149,34,6,W,17,32,0,S,1978-03-10,R,MOD
515443,117518.0,T,7638000,35000.0,67.0,1.0,149,28,53,W,17,32,7,S,1978-03-10,R,MOD
748099,117524.0,T,7638000,35000.0,91.0,1.0,149,34,6,W,17,32,0,S,1978-03-10,R,MOD