In [1]:
import streamlit as st
import numpy as np
import plotly.graph_objects as go
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Export_TER_juin2023_FIX_SafwanChendeb.csv",sep=";")
print(df.info)

<bound method DataFrame.info of          N° ENREG Code CAF  ASS_FRQ_KHZ  ASS_LGBD_KHZ  TER_ANT_AZM_MAX  \
0       1028247.0        K     38577000       14000.0             90.0
1       1033878.0        K     19376875       13700.0            204.5
2       1428858.0        K     26145000       56000.0            320.7
3       1502495.0        K      6920000       40000.0            307.4
4        339609.0        K     38552500        7000.0            319.9
...           ...      ...          ...           ...              ...
823645  1419579.0        K     22128750       28000.0            195.1
823646   124559.0        J         3398           0.0              NaN
823647  1111112.0        K     23241750       14000.0            182.8
823648  1508178.0        K     26173000      112000.0            156.6
823649  1276551.0        K     38570000       56000.0            168.4

        TER_ANT_ANG  PT_LONG_DEG  PT_LONG_MIN  PT_LONG_SEC PT_LONG_ORIENT  \
0               1.7            2           20           59              E
1               1.9            1           14           59              E
2               2.6            7            3            5              E
3               3.0            6           36           33              E
4               1.7            5           28           44              E
...             ...          ...          ...          ...            ...
823645          1.6            1           25           10              E
823646          NaN            1           15           30              E
823647          2.8            4           44           24              E
823648          1.5            8           46            7              E
823649          1.7            2           28           17              E

        PT_LAT_DEG  PT_LAT_MIN  PT_LAT_SEC PT_LAT_ORIENT    Date CAF BASE  \
0               48          53          40             N  01/03/2013    H
1               43          16          11             N  18/09/2013    H
2               43          37           2             N  18/05/2017    H
3               47          38          35             N  11/04/2019    R
4               43          29          38             N  10/05/2005    H
...            ...         ...         ...           ...         ...  ...
823645          48          21          31             N  27/10/2022    R
823646          45          50           0             N  02/07/1979    R
823647          44          24          54             N  15/06/2011    H
823648          41          46           4             N  13/06/2019    H
823649          48          43          33             N  29/11/2018    R

       MVT_CODE
0           MOD
1           MOD
2           ADD
3           ADD
4           MOD
...         ...
823645      SUP
823646      ADD
823647      ADD
823648      ADD
823649      SUP

[823650 rows x 17 columns]>

DATA CLEAN

Enlever les valeurs nulles ou trop petites de Largeur de bande

In [3]:
df2 = df.dropna(subset=['ASS_LGBD_KHZ'])
df2 = df2[df2["ASS_LGBD_KHZ"] >1000]

Enlever les antennes qui ont été supprimées

In [14]:
enreg_to_supp = df2[df2['MVT_CODE'] == 'SUP']['N° ENREG']
df2 = df2[~df2['N° ENREG'].isin(enreg_to_supp)]

Garder seulement les ajouts d'antenne

In [4]:
df2  = df2[df2['MVT_CODE'] == 'ADD']

Garder seulement les dernières modifications de chaque antenne

In [15]:
df2['Date CAF'] = pd.to_datetime(df['Date CAF'], format='%d/%m/%Y')
df2 = df2.sort_values('Date CAF').drop_duplicates(subset = "N° ENREG", keep = 'last')

TEST

In [7]:
df2.head(20)

,N° ENREG,Code CAF,ASS_FRQ_KHZ,ASS_LGBD_KHZ,TER_ANT_AZM_MAX,TER_ANT_ANG,PT_LONG_DEG,PT_LONG_MIN,PT_LONG_SEC,PT_LONG_ORIENT,PT_LAT_DEG,PT_LAT_MIN,PT_LAT_SEC,PT_LAT_ORIENT,Date CAF,BASE,MVT_CODE
2,1428858.0,K,26145000,56000.0,320.7,2.6,7,3,5,E,43,37,2,N,18/05/2017,H,ADD
3,1502495.0,K,6920000,40000.0,307.4,3.0,6,36,33,E,47,38,35,N,11/04/2019,R,ADD
5,1455698.0,K,6460000,40000.0,247.6,2.5,5,38,38,E,43,41,17,N,22/02/2018,H,ADD
10,1277365.0,K,13087000,28000.0,149.3,4.7,2,25,38,E,43,47,44,N,18/12/2014,H,ADD
17,1083711.0,K,6660000,40000.0,188.8,2.5,1,48,34,E,50,4,53,N,20/04/2010,H,ADD
22,1632137.0,K,19150000,110000.0,30.1,1.2,2,39,41,E,47,41,41,N,17/03/2022,R,ADD
29,1659722.0,K,81375000,500000.0,247.7,0.8,0,21,50,W,46,14,36,N,16/03/2023,R,ADD
32,1661516.0,K,19480000,110000.0,253.7,1.2,2,30,44,E,49,54,15,N,22/06/2023,R,ADD
33,1444549.0,K,19315000,55000.0,317.5,3.3,0,37,51,W,44,47,30,N,16/11/2017,H,ADD
36,1006279.0,K,22125250,7000.0,50.6,2.8,0,54,54,W,44,36,34,N,03/05/2007,H,ADD
38,1516176.0,K,19590000,110000.0,339.9,0.9,0,14,19,W,43,11,17,N,17/10/2019,R,ADD
40,1654648.0,K,22078000,112000.0,143.8,1.6,7,5,43,E,44,5,39,N,15/12/2022,R,ADD
41,1081689.0,K,23297750,14000.0,239.2,1.6,4,23,46,E,44,52,14,N,22/06/2010,H,ADD
42,1591444.0,K,13132500,7000.0,178.7,2.7,3,15,9,E,50,32,48,N,14/01/2021,R,ADD
43,1015179.0,K,17741250,27500.0,202.1,2.1,1,48,44,E,47,44,50,N,20/12/2007,H,ADD
44,1395862.0,K,22148000,56000.0,243.7,1.6,6,17,39,E,43,16,53,N,13/10/2016,H,ADD
45,1627082.0,K,37646000,56000.0,208.3,1.7,3,25,53,E,47,22,44,N,17/02/2022,R,ADD
46,1614648.0,K,32851000,112000.0,65.6,1.0,2,3,1,E,49,25,21,N,14/10/2021,R,ADD
49,1330235.0,K,18470000,55000.0,269.8,2.1,3,16,1,E,43,15,57,N,17/09/2015,H,ADD
51,1509456.0,K,18470000,110000.0,131.5,2.1,5,2,3,E,48,34,35,N,13/06/2019,R,ADD

In [12]:
import plotly.express as px

# Convert 'Date CAF' to datetime
df2['Date CAF'] = pd.to_datetime(df2['Date CAF'], format='%d/%m/%Y')

# Extract month and year and count the occurrences
df2['YearMonth'] = df2['Date CAF'].dt.to_period('M')
monthly_counts = df2['YearMonth'].value_counts().sort_index().reset_index()
monthly_counts.columns = ['YearMonth', 'Number of Antennas']

# Converting 'YearMonth' to string to avoid serialization issue
monthly_counts['YearMonth'] = monthly_counts['YearMonth'].astype(str)

# Plotting the evolution using Plotly
fig = px.line(
    monthly_counts, 
    x='YearMonth', 
    y='Number of Antennas', 
    title='Évolution du nombre d\'ajout d\'antennes par mois',
    markers=True,
    labels={'YearMonth': 'Mois', 'Number of Antennas': 'Nombre d\'antennes ajoutées'}
)

fig.update_layout(
    xaxis_title='Mois',
    yaxis_title='Nombre d\'antennes ajoutées',
    xaxis_tickangle=-45
)

# Saving the plot as an HTML file to display it
fig.write_html('monthly_antenna_additions.html')

# Displaying the plot link
print("Le graphique a été enregistré sous forme de fichier HTML. Vous pouvez le télécharger et le visualiser en suivant ce lien : sandbox:/mnt/data/monthly_antenna_additions.html")

Le graphique a été enregistré sous forme de fichier HTML. Vous pouvez le télécharger et le visualiser en suivant ce lien : sandbox:/mnt/data/monthly_antenna_additions.html